<html>
    <body>
        <h1>Add Ticket</h1>
        <form action="{{ url_for("addTicket") }}" method="post">
            <input type="radio" size="30" name="status" value="pending" checked>pending
            <input type="radio" size="30" name="status" value="completed">completed
            <input type="submit" value="Add">
        </form>
        <a href="{{ url_for("ticketList") }}"><button>Cancel</button></a>
    </body>
</html>
