<html>
    <head>
        <style>
            table, th, td { border: 1px solid black }
        </style>
    </head>
    <body>
        <h1>Ticket List</h1>
        <div>
            <a href="{{ url_for("addTicket") }}"><button>Add ticket</button></a>
            <a href="{{ url_for("collectTicket") }}"><button>Collect ticket</button></a>
        </div>
        <br>
        <table>
          <thead>
            <tr>
              <th style="text-align:left">uuid</th>
              <th style="text-align:left">random-name</th>
              <th style="text-align:left">status</th>
              <th style="text-align:left">timestamp</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets %}
            <tr>
              <td>{{ ticket.uuid }}</td>
              <td>{{ ticket.random_name }}</td>
              <td>{{ ticket.status }}</td>
              <td>{{ ticket.timestamp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </body>
</html>
