<html>
    <head>
        <style>
            table, th, td { border: 1px solid black }
        </style>
    </head>
    <body>
        <h1>Ticket info</h1>
        <table>
          <thead>
            <tr>
              <th style="text-align:left">uuid</th>
              <th style="text-align:left">random-name</th>
              <th style="text-align:left">status</th>
              <th style="text-align:left">timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ ticket.uuid }}</td>
              <td>{{ ticket.random_name }}</td>
              <td>{{ ticket.status }}</td>
              <td>{{ ticket.timestamp }}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <a href="{{ url_for("ticketList") }}"><button>Go to ticket list</button></a>
    </body>
</html>
